@import "main";
@import "cms";

body {
  margin: 0;
  padding: 0;
  min-width: 1000px;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: Courier New, Courier, monospace;
  backface-visibility: hidden;
}

input,
textarea,
button {
  &:focus,
  &:active {
    outline: none;
    resize: none;
  }
}

::-webkit-scrollbar {
  display: none;
}
