@import "main";
@import "cms";
@import "mobile";

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  .fade-in {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    z-index: 2;
  }
  .fade-in-vid {
    opacity: 1;
  }
  .fade-out {
    opacity: 0;
    z-index: 0;
  }
}

// @media (max-width: 768px) {
//   body {
//     min-width: unset;
//     max-width: 100%;
//     overflow: hidden;
//   }
// }

* {
  box-sizing: border-box;
  font-family: Courier New, Courier, monospace;
  backface-visibility: hidden;
}

input,
textarea,
button {
  &:focus,
  &:active {
    outline: none;
    resize: none;
  }
}

::-webkit-scrollbar {
  display: none;
}
